.work-experience-container {
    padding: 1rem;
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.experience-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0rem;
}

.education-item {
    padding: 1rem;
    border-radius: 5px;
    width: 450px;
    box-sizing: border-box;
    text-align: left;
    position: relative;
}

.education-school {
    height: 40px;
    font-weight: bold;
    font-size: 20px;
}

.education-program {
    height: 40px;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}

.job-duration {
    height: 15px;
    margin: 0;
    font-size: 14px;
}

.job-location {
    height: 10px;
    margin: 0;
    font-size: 14px;
    font-style: italic;
}

.view-details-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.details-box {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease, height 1s ease;
    text-align: left;
}

.details-box.visible {
    opacity: 1;
    height: auto;
    padding-top: 0;
    line-height: 1;
}


.skills {
    margin-top: 0.5rem;
}

.skills p {
    margin-bottom: 0.2rem;
}

.skills span {
    margin-right: 0.5rem;
}

.tech-stacks {
    flex-direction: column;
    margin-top: 0rem;
    padding-top:0;
}

.tech-stacks p {
    margin-bottom: 0.2rem;
}

.tech-stack-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    margin-top: 1rem;
    clear: both; 
    padding-left: 10px;
}
.tech-stack {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tech-icon {
    width: 40px;
    height: 40px;
}


@media (max-width: 1150px) {
    .experience-list {
        flex-direction: column;
        align-items: stretch; 
    }
    .education-item {
        width: 100%; 
    }
}
