.work-experience-container {
    padding: 1rem;
    margin-top:0;
    margin-bottom:0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.experience-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0rem;
}

.experience-item {
    padding: 1rem;
    border-radius: 5px;
    width: 300px;
    box-sizing: border-box;
    text-align: left;
    position: relative; 
}

.job-title {
    height: 40px;
    font-weight: bold;
    font-size: 16px;
}

.job-company {
    height: 40px;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    font-size: 15px;
}

.job-duration {
    height: 15px;
    margin: 0;
    font-size: 14px;
}

.job-location {
    height: 10px;
    margin: 0;
    font-size: 14px;
    font-style: italic;
}

.view-details-button {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.view-details-button:hover {
    background-color: #2f2f2f;
}

.details-box {
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 5px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 1s ease, height 1s ease;
    text-align: left;
}

.details-box.visible {
    opacity: 1;
    height: auto;
    padding-top: 0;
}

.details-box.visible p {
    line-height: 1.2;
}

@media (max-width: 1150px) {
    .experience-list {
        flex-direction: column;
        align-items: stretch; 
    }
    .experience-item {
        width: 100%; 
    }
}


.tech-stacks {
    display: flex;
    flex-wrap: wrap;
    gap: 0.3rem;
    margin-top: 1rem;
}

.tech-stack {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.tech-icon {
    width: 40px;
    height: 40px;
}
