.summary-container {
    margin-top:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #1e1e1e;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.1);
  }
  
  .text-container {
    flex: 1;
    text-align: left;
  }
  
  .text-container h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #ffffff;
  }
  .text-container h1 strong {
    font-size: 2.5rem;
    color: #ffffff;
  }
  
  .text-container p {
    font-size: 1.2rem;
    margin-bottom: 0;
    color: #ffffff;
    line-height: 1.5;
  }
  
  .image-container {
    margin-left: 0rem;
  }
  
  .profile-image {
    width: 250px;
    height: auto;
    border-radius: 50%;
  }


@media (max-width: 1199px) {
}
  
  @media (max-width: 991px) {
  }
  
  @media (max-width: 767px) {
    .summary-container {
        flex-direction: column;
      }
  }
  
  @media (max-width: 575px) {
  }
  